.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  color: #FFCD0D;
  text-shadow: 3px 3px 0 #003D7C, -3px -3px 0 #3474B9, 3px -3px 0 #003D7C, -3px 3px 0 #3474B9;
}


app-card,
router-outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20p
}
